:root {
    --primary-color: #f05123;
    --black-color: #000;
    --white-color: #ffffff;
    --gray-color: #666;
    --text-color: #333;
    --yellow-color: #fed810;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --button-color: #1dbfaf;
    --button-color-2: #fe2c55;
    --hover-1: #e8ebed;
    --header-height: 120px;
    --shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --font-Roboto: 'Roboto', sans-serif;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: var(--font-Roboto);
    box-sizing: border-box;
}

/* Animation */
@keyframes faceIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes  goUp{
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}

@keyframes headerNoticeGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}
@keyframes moveRight{
    from{
        right: 0%;
    }to{
        right: 100%;
    }
}
.grid {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}