/* app_header */
.app__header {
    z-index: 100;
    width: 100%;
    background: linear-gradient(to left bottom, rgb(255 18 211), rgb(5 255 247));
    height: var(--header-height);
    position: fixed;


}

/* nav head */
.app__header-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__header-head-search {
    position: absolute;
    background-color: var(--white-color);
    width: 460px;
    height: 32px;
    left: 50%;
    margin-top: 5px;
    border-radius: 14px;
    transform: translateX(-50%);
    padding: 0px 34px 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 1.6rem;
}

.app__header-head-inp {
    background-color: var(--white-color);
    left: 0;
    font-size: 1.8rem;
    height: 100%;
    width: fit-content;
    color: var(--text-color);
    border-radius: 14px;
    border: none;
    margin-left: 10x;
    flex: 1;
    outline: none;
}

.app__header-head-icon {
    margin-right: 4px;
    font-size: 1.4rem;
    display: block;
    color: var(--text-color);
}

.app__header-head-icon:hover {
    color: rgb(118, 18, 255);
}

.app__header-head-list-up {
    list-style-type: none;
    padding-left: 40px;
    display: flex;
    margin-top: -16px;
}

.app__header-head-list-down {
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
}

.app__header-heading-bigIcon {
    font-size: 3.0rem;
    color: var(--white-color);
}

.app__header-heading {
    color: var(--white-color);
    margin: -29px 34px;
    font-size: 2rem;
    padding: 0;
    font-weight: 500;
}

.app__header-head-item-down {
    margin-right: 58px;
    margin-top: 5px;
}

.app__header-head-item {
    margin-top: 6px;
}

.app__header-head-link {
    display: block;
    font-weight: 600;
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-top: 5px;
}




/* Nội dung phần Avartar */
.app__header-head-avartar {
    z-index: 1;
    margin-top: -1px;
    width: 28px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    opacity: 1;
}

.app__header-avartar {
    border-radius: 7px;
    position: absolute;
    background-color: var(--white-color);
    top: 42px;
    display: none;
    transform-origin: top right;
    animation: headerNoticeGrow ease-in-out 0.4s;
    right: 32px;
    box-shadow: 1px 1px 8px var(--gray-color);
}

.app__header-head-avartar:hover {
    opacity: 0.9;
}

.app__header-head-item-has-avartar:hover .app__header-avartar {
    display: block;
}

.app__header-avartar-nickname {
    cursor: pointer;
    margin-top: 10px;
}

.app__header-avartar-heading {
    display: flex;
    align-items: center;
    padding: 12px 12px 0 12px;
}

.app__header-avartar::before {
    content: "";
    display: block;
    position: absolute;
    width: 82px;
    height: 25px;
    top: -22px;
    right: -1px;
    background-color: transparent;

}

.app__header-avartar-in {
    width: 44px;
    border-radius: 100px;
    cursor: pointer;
}

.app__header-avartar-text {
    margin-left: 15px;
}



.app__header-avartar-list {
    list-style: none;
    padding-left: 0px;
}

.app__header-avartar-list-item {
    padding-left: 10px;
    padding-bottom: 6px;
}

.app__header-avartar-link {
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}


/* Nội dụng trong thông báo */
.app__header-notice {
    z-index: 1;
    position: absolute;
    width: 360px;
    background-color: var(--white-color);
    top: calc(100% + -80px);
    right: 106px;
    display: none;
    transform-origin: top right;
    animation: headerNoticeGrow ease 0.4s;
    border-radius: 2px;
    box-shadow: 0 2px 2px #ccc;
}

.app__header-head-pointer {
    position: absolute;
    background-color: red;
    padding: 0px 5px;
    border-radius: 100px;
    font-size: 0.8rem;
    top: -6px;
    left: -7px;
    color: transparent;
    text-align: center;
}

.app__header-notice::before {
    content: "";
    border-width: 21px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -35px;
    right: 24px;
}

.app__header-notice::after {
    content: "";
    display: block;
    position: absolute;
    width: 175px;
    height: 18px;
    top: -17px;
    right: -2px;
    background-color: transparent;
}

.app__header-head-item-has-notice:hover .app__header-notice {
    display: block;
}

.app__header-notice-head {
    padding: 10px;
}

.app__header-notice-separator {
    margin: 0;
}

.app__header-notice-list {
    padding-left: 0;
    list-style: none;
    height: 416px;
    overflow-y: scroll;
}

.app__header-notice--has-color {
    background-color: rgba(243, 58, 88, 0.09);
}

.app__header-notice-link {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.app__header-notice-item {
    display: flex;
}

.app__header-notice-link:hover {
    border-radius: 3px;
    background-color: #ccc;
}

.app__header-notice-picture {
    width: 59px;
    height: 57px;
    border-radius: 50px;
    object-fit: cover;
    object-position: top;
}

.app__header-notice-note {
    display: flex;
    color:var(--mail-color);
    flex-direction: column;
    justify-content: space-between;
}

.app__header-notice-note_1 {
    display: flex;
    color:var(--black-color);
    flex-direction: column;
    justify-content: space-between;
}


.app__header-note-content {
    font-size: 1.9rem;
    padding-left: 10px;
}

.app__header-notice-note-item {
    font-size: 1.2rem;
    padding-left: 10px;
    color: rgba(245, 117, 38, 0.7);
}

.app__header-notice-note-item_1 {
    font-size: 1.2rem;
    padding-left: 10px;
    color: black;
}

/* Thông tin trong phần tin nhắn */
.app__header-msg {
    background-color: var(--white-color);
    position: absolute;
    top: 50px;
    right: 188px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #ccc;
    transform-origin: right;
    display: none;
}

#app__header-head-target:target {
    display: block;
}

.app__header-msg-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__header-msg-head-headding {
    color: var(--text-color);
    font-weight: 600;
    font-size: 2.4rem;
    display: block;
    text-decoration: none;
    margin: 9px 10px 1px 16px;
}

.app__header-msg-head-link {
    background-color: #f0f2f5;
    border-radius: 50px;
    width: 44px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--text-color);
    margin: 3px 15px -4px 7px;
    display: block;
}

.app__header-msg-head-link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.app__header-msg-search {
    width: 360px;
    background-color: #f0f2f5;
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.4rem;
}

.app__header-msg-list {
    max-height: 400px;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.app__header-msg-item {
    padding: 15px;
}


.app__header-msg-link {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.app__header-msg-link:hover {
    color: var(--text-color);
}



.app__header-msg-picture {
    width: 56px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.app__header-msg-content {
    margin-bottom: 10px;
    margin-left: 12px;
}

.app__header-msg-Messages {
    margin-left: 2px;
    font-size: 1.2rem;
}


/* nav end */
.app__header-end {
    top: 86px;
    display: flex;
    justify-content: space-around;
    position: absolute;
}

.app__header-end-list {
    list-style: none;
    padding-left: 0;
}

.mobie__responsive {
    display: flex;
}

.app__header-end--flexLeft {
    display: flex;
    margin-left: 15px;
}

.app__header-end--flexRight {
    display: flex;
    margin-right: 12px;
}

.app__header-end-item {
    padding: 3px;
    margin: 0 20px;
}

.app__header-end-link {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
    display: block;
}

.app__header-end-picture {
    margin-bottom: 6px;
}

/* Thông tin phần giới thiệu */
.app__header-end-introduce {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#app__header-end-has-introduce:target {
    display: block;
}

.app__header-end-introduce-dialog {
    position: absolute;
    border-radius: 10px;
    background-color: var(--white-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.app__header-end-introduce-head {
    display: flex;
    align-items: center;
    padding: 20px 20px 8px 20px;
    justify-content: space-between;
}

.app__header-end-introduce-title {
    font-size: 2.3rem;
}

.app__header-end-introduce-link {
    background-color: #f0f2f5;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    margin: -8px 10px 0px 8px;
}

.app__header-end-introduce-link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* Thông tin trong phần my course */
.app__header-end-course {
    position: absolute;
    display: none;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px #ccc;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: faceIn ease-in 0.3s;
}

.app__header-end-item-has-course:hover .app__header-end-course {
    display: block;
}

.app__header-end-course-heading {
    padding: 10px;
}

.app__header-end-course-list {
    max-height: 360px;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.app__header-end-course-item {
    margin: 5px;
    border-radius: 3px;
}

.app__header-end-course-item:hover {
    background-color: var(--hover-1);
}

.app__header-end-course-item--no-hover:hover {
    background-color: var(--white-color);
}

.app__header-end-course-link {
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
}

.app__header-end-course-link:hover {
    color: var(--text-color);
}



.app__header-end-course-picture {
    border-radius: 10px;
    width: 130px;
    height: 70px;
}



.app__header-end-course-content--has-button {
    margin-right: 56px;
}



.app__header-end-course-notice {
    color: var(--invalid-color);
    font-weight: 600;
}

.app__header-end-course-process {
    width: 200px;
    height: 20px;
}

.app__header-end-course-btn {
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
}

.app__header-end-course-btn:hover {
    color: var(--gray-color);
    background-color: var(--hover-1);
}

/* Thông tin trong phần Follower */
.app__header-end-follower {
    background-color: var(--white-color);
    position: absolute;
    box-shadow: var(--shadow);
    min-width: 400px;
    border-radius: 4px;
    display: none;
    animation: faceIn ease 0.3s;
}

.app__header-end-item-has-follower:hover .app__header-end-follower {
    display: block;
}

.app__header-end-follower-heading {
    margin-top: 8px;
    padding: 10px;
}



.app__header-end-follower-list {
    max-height: 420px;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
}

.app__header-end-follower-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
}

.app__header-end-follower-link {
    text-decoration: none;
    font-size: 1.6rem;
    display: block;
    color: var(--text-color);
    cursor: default;
}

.app__header-end-follower-link:hover {
    color: var(--text-color);
    background-color: var(--white-color);
}

.app__header-end-follower-photo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 8px;
}

.app__header-end-follower-title {
    margin: 12px 0px 0px 8px;
}

.app__header-end-follower-userName {
    padding-bottom: 5px;
    color: var(--primary-color);
}

.app__header-end-follower-picture {
    width: 56px;
    height: 55px;
    border-radius: 50px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}

.app__header-end-follower-user {
    margin: 0px 15px 0px 0px;
}

.app__header-end-follower-btn {
    background-color: var(--hover-1);
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--fb-color);
    display: block;
    text-align: center;
    line-height: 3.7rem;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 6px;
}

.app__header-end-follower-fl {
    margin-top: 2px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    display: block;
    background-color: var(--button-color-2);
    color: var(--white-color);
    border-radius: 10px;
    min-width: 50px;
}

.app__header-end-follower-fl:hover {
    opacity: 0.7;
    color: var(--hover-1);
}

.app__header-end-follower-btn:hover {
    color: var(--white-color);
    background-color: var(--fb-color);
}


/* Thông tin trong phần Đang Follow */
.app__header-end-viewer {
    position: absolute;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    border-radius: 4px;
    animation: faceIn ease 0.3s;
    display: none;
}

.app__header-end-item-has-viewer:hover .app__header-end-viewer {
    display: block;
}

.app__header-end-viewer-title {
    padding: 12px 12px 10px 12px;
    line-height: 2.9rem;
}

.app__header-end-viewer-list {
    list-style: none;
    padding-left: 0;
}

.app__header-end-viewer-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app__header-end-viewer-link {
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--text-color);
    cursor: default;
}

.app__header-end-viewer-link:hover {
    color: var(--text-color);
}

.app__header-end-viewer-user {
    display: flex;
    align-items: center;
}

.app__header-end-viewer-photo {
    width: 55px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}

.app__header-end-viewer-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.app__header-end-viewer-userName {
    font-size: 2.0rem;
    color: var(--primary-color);
    cursor: default;
}

.app__header-end-viewer-description {
    cursor: default;
}

.app__header-end-viewer-description:hover {
    color: var(--text-color);
}

.app__header-end-viewer-icon {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: -30px;
}

.app__header-end-viewer-connect {
    background-color: var(--hover-1);
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    line-height: 3.7rem;
    width: 36px;
    height: 36px;
    border-radius: 30px;
}

.app__header-end-viewer-connect:hover {
    background-color: var(--fb-color);
    color: var(--white-color);
}

.app__header-end-viewer-connect--1 {
    position: relative;
    text-align: center;
    margin-bottom: 12px;
}

.app__header-end-viewer-information {
    color: var(--white-color);
    background-color: var(--fb-color);
    border-radius: 5px;
    position: absolute;
    min-width: 100px;
    height: 30px;
    line-height: 2.5rem;
    top: 3px;
    left: 40px;
    display: none;
}

.app__header-end-viewer-connect--1:hover .app__header-end-viewer-information {
    display: block;
}

.app__header-end-viewer-connect--2 {
    position: relative;
    text-align: center;
    margin: auto;
    line-height: 2.8rem;
    margin-left: 1px;
}

.app__header-end-viewer-connect--2:hover .app__header-end-viewer-information {
    display: block;
}

/* Thông tin trong phần ủng hộ */
.app__header-end-donate {
    position: absolute;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    width: 350px;
    border-radius: 5px;
    animation: faceIn ease 0.3s;
    display: none;
}

.app__header-end-item-has-donate:hover .app__header-end-donate {
    display: block;
}

.app__header-end-donate-support {
    display: none;
}

#app__header-end-donate-1:target {
    display: block;
}

#app__header-end-donate-2:target {
    display: block;
}

.app__header-end-donate-history-support {
    display: none;
}



.app__header-end-donate-head-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 10px;
}

.app__header-end-donate-head-item {
    margin: auto;

}

.app__header-end-donate-infotmation {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    position: relative;

}

.app__header-end-donate-infotmation:hover {
    color: var(--invalid-color);
}

.app__header-end-donate-infotmation::after {
    position: absolute;
    top: 20px;
    right: -11px;
    content: "";
    width: 0px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--invalid-color);
}

.app__header-end-donate-infotmation:hover::after {
    display: block;
    width: 100%;
    left: 0;
}

.app__header-end-donate-heading {
    text-align: center;
}

.app__header-end-donate-list {
    list-style: none;
    padding-left: 0;
}

.app__header-end-donate-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.app__header-end-donate-link {
    text-decoration: none;
    display: block;
}

.app__header-end-donate-photo {
    display: flex;
    align-items: center;
}

.app__header-end-donate-picture {
    width: 55px;
    height: 55px;
    border-radius: 30px;
    object-fit: cover;
    object-position: top;
}

.app__header-end-donate-content {
    margin: 12px 0px 0px 10px;
    color: var(--text-color);
}

.app__header-end-donate-userName {
    color: var(--primary-color);
    font-size: 1.8rem;
}



.app__header-end-donate-icon {
    text-align: center;
    line-height: 3.9rem;
}

.app__header-end-donate-icon-link {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--hover-1);
    display: block
}

.app__header-end-donate-icon-link:hover {
    background-color: var(--fb-color);
    color: var(--white-color);
}

.app__header-end-donate-money {
    font-size: 1.6rem;
    color: var(--yellow-color);
    font-weight: 800;
}

/* Thông tin trong kết nối */
.app__header-information {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 5px);
    right: -83px;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 2px 4px var(--gray-color);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: faceIn ease 0.3s;
}


.app__header-head-item-has-information:hover .app__header-information {
    display: block;
}

.app__header-information::after {
    content: "";
    display: block;
    position: absolute;
    width: 114px;
    height: 30px;
    top: -28px;
    right: 92px;
    background-color: transparent;
}


.app__header-information-head {
    font-size: 1.8rem;
}

.app__header-information-list {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.app__header-information-item {
    margin: auto;
}

.app__header-information-link {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
}

/* Sửa icon của phần kết nối */
.fa-facebook-messenger {
    color: #d309d3;
}

.fa-tiktok {
    color: black;
}

.fa-twitter {
    color: #1d9bf0;
}

.fa-reddit {
    color: red;
}
.fa-github {
    color:black
}

/* Làm phần main */
.app__container {
    z-index: 10;
    position: relative;
    top: 130px;
    margin-bottom: 300px;
}

.app__container-main {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--hover-1);
}

/* Phần slider bar */
.carousel__mod {
    margin: auto;
    width: 100%;
}

.carousel-inner-border {
    /* margin: auto; */
    border-radius: 20px;
}

.app__container-advertisement {

    display: flex;
    justify-content: space-around;
}

.app__container-advertisement-list-up {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app__container-advertisement-list-down {

    padding-left: 0;
    list-style: none;
}

.app__container-advertisement-item {

    color: var(--white-color);
}

.app__container-advertisement-head {
    font-size: 3.0rem;
}

.head--switch-color-1 {
    color: var(--yellow-color);
}

.head--switch-color {
    color: var(--primary-color);
}

.app__container-advertisement-description {
    font-size: 2rem;
}

.learn-about-link {
    width: 123px;
    height: 32px;
    display: block;
    margin-left: 38px;

}

.learn-about-btn {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: var(--text-color);
    outline: none;
    line-height: 1rem;
    font-size: 1.3rem;
    background-color: transparent;
}

.learn-about-btn-1 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: var(--white-color);
    outline: none;
    line-height: 1rem;
    font-size: 1.3rem;
    background-color: transparent;
}

.learn-about-btn-1:hover {
    background-color: var(--white-color);
    color: var(--button-color-2);
}

.learn-about-btn:hover {
    background-color: var(--white-color);
    color: var(--button-color-2);
}



.carousel-item-photo-2 {
    background: linear-gradient(to right bottom, orange, Yellow);

}

.carousel-item-photo-1 {
    background: linear-gradient(0, rgb(222, 200, 200), rgb(20, 4, 128));
}

.carousel-item-photo-3 {
    background: linear-gradient(0, rgb(133, 247, 236), rgb(237, 96, 89));
}

.carousel-item-photo-4 {
    background: linear-gradient(0, rgb(245, 140, 222), rgb(57, 49, 94));
}

.carousel-item-picture {
    height: 200px;
    object-fit: contain;
    opacity: 0.2;
}

.carousel-control-prev {
    margin-left: 15px;
}



.app__container-icon-pre {
    z-index: 1;
    border-radius: 50px;
    background-color: var(--black-color);
    margin-right: 120px;
}

.app__container-icon-next {
    z-index: 1;
    border-radius: 50px;
    background-color: var(--black-color);
    margin-left: 120px;
}

/* Phần chính */
.app__container-main-width {
    margin-top: 12px;
    /* background-color: #1d9bf0; */
}



.app__container-icon {
    top: 108px;
    position: -webkit-sticky;
    position: sticky;
}

.app__container-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 5px;
    width: 64px;
    height: 66px;
    border-radius: 15px;

}

.app__container-item:hover {
    background-color: #e8ebed;
}

.app__container-link {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 2.9rem;
    text-decoration: none;
    color: #1a1a1a;
}

.app__container-link:hover {
    color: #1a1a1a;
}

.app__container-link:focus {
    background-color: #e8ebed;
    border-radius: 15px;
    width: 64px;
    height: 66px;
}

.app__container-paragram {
    margin-top: 30px;
    font-weight: 700;
    position: absolute;
    font-size: 1.2rem;
}

/* Phần cột 12 */
.p-3 {
    text-align: center;
}

.app__container-course {
    margin-top: 30px;
}

.app__container-heading {
    font-size: 4rem;
}

.app__container-course-It {
    font-weight: 800;
}

.app__container-course-link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    background: linear-gradient(to top left, #12ace4, #1d9bf0);
    display: block;
    height: 160px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
    position: relative;
    text-align: center;
}

.app__container-course-link-java {
    background: linear-gradient(0, #1d9bf0, #ecb858);
}

.app__container-course-link-Csharp {
    background: linear-gradient(to top right, #eb48eb, #986b98);
}

.app__container-course-link-python {
    background: linear-gradient(to top right, #12ace4, #e6e66b);
}

.app__container-course-link-JS {
    background: linear-gradient(to right bottom, orange, orange);
}

.app__container-course-link-Algorithm {
    background: linear-gradient(to right bottom, #1d9bf0, #efef01);
}

.app__container-course-link-Git {
    background: linear-gradient(to right bottom, black, white);
}

.app__container-course-link-gitWork {
    background: linear-gradient(to right bottom, white, whitesmoke);
}

.app__container-course-link-GitLab {
    background: linear-gradient(to right bottom, #fc3e3e, orange);
}

.app__container-course-link-PS {
    background: linear-gradient(to right bottom, #4e4a4a, #3030ee);
}

.app__container-course-link-LR {
    background: linear-gradient(to right bottom, #6a6767, #4848cf);
}

.app__container-course-link-Blender {
    background: linear-gradient(to top right, orange, lightblue);
}

.app__container-course-link-AE {
    background: linear-gradient(to top right, orange, purple);
}

.app__container-course-link-PR {
    background: linear-gradient(to right bottom, #ebabb5, #d83bd8);
}

.app__container-course-link-KF {
    background: linear-gradient(0, blue, purple);
}

.app__container-course-link:hover {
    opacity: 0.5;
    color: var(--white-color);
}

.app__container-course-photo {
    height: 160px;
    position: relative;
}

.app__container-course-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    right: 0;
}

.app__container-course-content {
    position: absolute;
    font-size: 3.5rem;
    font-weight: 500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

.app__container-course-image {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 103px;
    height: 109px;
    opacity: 0.4;
}

.app__container-course-description {
    margin: 15px;
}

.app__container-course-description-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.app__container-course-description-item {
    font-size: 1.4rem;
}

.app__container-course-description-link {
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);
}

.app__container-course-description-link:hover {
    opacity: 0.5;
    color: var(--primary-color);
}

.app__container-course-description-sub {
    font-weight: 500;
    text-decoration: none;
    color: var(--gray-color);
    cursor: default;
}

.app__container-course-description-sub:hover {

    color: var(--gray-color);
}

/* Viết phần footer */
.app_footer {
    z-index: 10;
    position: relative;
    bottom: calc(0px - 130px);
    width: 100%;
    height: 40px;
}