/* app_header */
.app__header {
    z-index: 1;
    width: 100%;
    background: linear-gradient(to left bottom, rgb(255 18 211), rgb(5 255 247));
    height: var(--header-height);
    position: fixed;
}
/* nav head */
.app__header-head {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.app__header-head-search {
    position: absolute;
    background-color: var(--white-color);
    width: 460px;
    height: 32px;
    left: 50%;
    margin-top: 5px;
    border-radius: 14px;
    transform: translateX(-50%);
    padding: 0px 34px 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 1.6rem;
}

.app__header-head-inp {
    background-color: var(--white-color);
    left: 0;
    font-size: 1.8rem;
    height: 100%;
    width: fit-content;
    color: var(--text-color);
    border-radius: 14px;
    border: none;
    margin-left: 10x;
    flex: 1;
    outline: none;
}

.app__header-head-icon {
    margin-right: 4px;
    font-size: 1.4rem;
    display: block;
    color: var(--text-color);
}

.app__header-head-icon:hover {
    color: rgb(118, 18, 255);
}

.app__header-head-list-up{
    list-style-type: none;
    padding-left: 40px;
    display: flex;
    margin-top: -16px;
}
.app__header-head-list-down{
    list-style-type: none;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
}
.app__header-heading-bigIcon {
    font-size: 3.0rem;
    color: var(--white-color);
}

.app__header-heading {
    color: var(--white-color);
    margin: -29px 34px;
    font-size: 2rem;
    padding: 0;
    font-weight: 500;
}
.app__header-head-item-down{
    margin-right: 58px;
    margin-top: 5px;
}
.app__header-head-item{
    margin-top: 6px;
}
.app__header-head-link {
    display: block;
    font-weight: 600;
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-top: 5px;
}


/* Nội dụng trong thông báo */
.app__header-notice {
    z-index: 1;
    position: absolute;
    width: 360px;
    background-color: var(--white-color);
    top: calc(100% + -80px);
    right: 160px;
    display: none;
    transform-origin: top right;
    animation: headerNoticeGrow ease 0.25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px #ccc;
}
.app__header-head-pointer{
    position: absolute;
    background-color: red;
    padding: 0px 5px;
    border-radius: 100px;
    font-size: 0.8rem;
    top: -6px;
    left: -7px;
    color: transparent;
    text-align: center;
}

.app__header-notice::before {
    content: "";
    border-width: 21px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -35px;
    right: 24px;
}

.app__header-notice::after{
    content: "";
    display: block;
    position: absolute;
    width: 121px;
    height: 18px;
    top: -17px;
    right: 14px;
    background-color:transparent;
}

.app__header-head-item-has-notice:hover .app__header-notice{
    display: block;
}

.app__header-notice-head {
    padding: 10px;
}

.app__header-notice-separator {
    margin: 0;
}

.app__header-notice-list {
    padding-left: 0;
    list-style: none;
    height: 416px;
    overflow-y: scroll;
}

.app__header-notice--has-color {
    background-color: rgba(243, 58, 88, 0.09);
}

.app__header-notice-link {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.app__header-notice-item {
    display: flex;
}

.app__header-notice-link:hover{
    border-radius: 3px;
    background-color: #ccc;
}

.app__header-notice-picture {
    width: 59px;
    height: 57px;
    border-radius: 50px;
}

.app__header-notice-note {
    display: flex;
    color: var(--mail-color);
    flex-direction: column;
    justify-content: space-between;
}

.app__header-note-content {
    font-size: 1.9rem;
    padding-left: 10px;
}

.app__header-notice-note-item {
    font-size: 1.2rem;
    padding-left: 10px;
    color: rgba(245, 117, 38, 0.7);
}

/* nav end */
 .app__header-end{
    top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.app__header-end-list{
    position: absolute;
    list-style: none;
    padding-left: 0;
}
.app__header-end-left{
    display: flex;
    left: 0;
    margin-left: 15px;
}
.app__header-end-right{
    right: 0;
    display: flex;
    margin-right: 15px;
}
.app__header-end-item{
    padding: 5px;
    margin: 0 20px;
}
.app__header-end-link{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: none;
    display: block;
} 

.app__header-end-picture{
    margin-bottom: 6px;
}



/* Thông tin trong kết nối */
.app__header-information{
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 5px);
    right: 22px;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    box-shadow:0 2px 4px var(--gray-color);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: faceIn ease  0.3s;
}


.app__header-head-item-has-information:hover .app__header-information{
    display: block;
}
.app__header-information::before{
    content: "";
    position: absolute;
    border-width: 11px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 15px;
    top: -22px;
}

.app__header-information::after{
    content: "";
    display: block;
    position: absolute;
    width: 76px;
    height: 18px;
    top: -17px;
    right: 5px;
    background-color: transparent;
}
.app__header-information-head{
    font-size: 1.8rem;
}
.app__header-information-list{
    padding-left: 0;
    list-style: none;
    display: flex;
}
.app__header-information-item{
    margin: auto;
}

.app__header-information-link{
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
}

/* Sửa icon của phần kết nối */
.fa-facebook-messenger{
   color: #d309d3; 
}
.fa-tiktok{
    color: black;
}
.fa-twitter{
    color: #1d9bf0;
}

.fa-reddit{
    color: red;
}
