/* app_header */
.app__header {
    background: linear-gradient(to left bottom, rgb(118, 18, 255), rgb(5, 178, 255));
    height: var(--header-height);
    position: sticky;
}

.app__header-head {
    display: flex;
    justify-content: space-between;
}

.app__header-head-search {
    position: absolute;
    background-color: var(--white-color);
    width: 460px;
    height: 32px;
    left: 50%;
    margin-top: 5px;
    border-radius: 14px;
    transform: translateX(-50%);
    padding: 0px 34px 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 1.6rem;
}

.app__header-head-inp {
    background-color: var(--white-color);
    left: 0;
    font-size: 1.8rem;
    height: 100%;
    width: fit-content;
    color: var(--text-color);
    border-radius: 14px;
    border: none;
    margin-left: 10x;
    flex: 1;
    outline: none;
}

.app__header-head-icon {
    margin-right: 4px;
    font-size: 1.4rem;
    display: block;
    color: var(--text-color);
}

.app__header-head-icon:hover {
    color: rgb(118, 18, 255);
}

.app__header-head-list {
    padding: 0;
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-around;
}

.app__header-heading-bigIcon {
    font-size: 3.0rem;
    color: var(--white-color);
}

.app__header-heading {
    color: var(--white-color);
    margin: -26px 40px;
    font-size: 2rem;
    font-weight: 500;
}

.app__header-head-item {
    margin: 5px;
    font-weight: 600;
}

.app__header-head-link {
    position: relative;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin: 5px 40px;
    display: block;
}

/* Thông tin trong kết nối */
.app__header-information{
    position: absolute;
    background-color: var(--white-color);
    top: calc(30% + 2px);
    right: 45px;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    box-shadow:0 2px 4px var(--gray-color);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: faceIn ease  0.3s;

}

.app__header-head-item-has-information:hover .app__header-information{
    display: block;
}
.app__header-information::before{
    content: "";
    position: absolute;
    border-width: 11px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 15px;
    top: -22px;
    z-index: 3;
}
.app__header-information-head{
    font-size: 1.8rem;
    z-index: 1;
}
.app__header-information-list{
    padding-left: 0;
    list-style: none;
    display: flex;
}
.app__header-information-item{
    margin: auto;
}

.app__header-information-link{
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
}
