@media only screen and (max-width: 46.1875em){
    
    
    .carousel__mod{
        display: none;
    }
    .app__header{
        /* height: 400px; */
    }
    .app__header-heading{
        display: none;
    }
    .app__header-head-search{
    }
    .mobie__responsive{
        flex-direction: column;
    }
    .app__header-end--flexLeft{
        flex-direction: column;
    }
    .app__header-end--flexRight{
        flex-direction: column;
        margin-left: 16px;
    }
    
}