@media only screen and (max-width: 46.1875em) {
    #app__header-head-item-up-res{
        font-size: 1.2rem;
    }
    #app__header-head-search-res {
        display: none;

    }

    #app__header-res {
        top: 0;
        position: relative;
        height: 90px;
        width: 100%;
    }
    #app__header-head-res{

    }
    #app__header-msg-res{
        /* display: block; */
    }
    #app__header-head-list-down-res {}

    #app__header-head-pointer-res {
      display: none;
    }

    #app__header-head-link-res {
        align-items: center;
        display: flex;
        font-size: 1.1rem;
    }

    .carousel__mod {
        display: none;
    }

    #app__header-end-res {
        position: absolute;
        top: 50px;

    }
    #app__container-res{
        position: relative;
        top:0px;
    }
    #app__container-icon--sticky-res{
        top: 8px;
        position: -webkit-sticky;
        position: sticky;
    }
    #app__container-course-link-res{
        /* width: 100%; */
    }
    #app__container-mobile-responsive {
        /* font-size: 1.4rem; */
        font-weight: 900;

    }

}